extends layout

block content
  img(src="#{user.profile.picture}")
  h2 Welcome #{user.profile.nickname}!
  h3 Display Name: #{user.profile.displayName}
  p
    strong access_token
    br
    span #{user.extraParams.access_token}
  p
    strong id_token
    br
    span #{user.extraParams.id_token}
  p
    strong refresh_token
    br
    span #{user.extraParams.refresh_token}
  br
  p
    strong API Data
    br
    span #{apiData}
  br
  p
  a(href='/user/apicall') API Call
  p
  a(href='/user/refresh') Refresh
  p
  a(href='https://pse-addons.auth0.com/v2/logout?client_id=gLnmLMjTsB30MJFNb1xY9Y8FGNKEf498&returnTo=https://atbpot.desmaximus.com/logout') Log Out
